<!DOCTYPE html>
<html>
<head>
    <link href="~/css/DarkLightToggle.css" rel="stylesheet" />
</head>
<body>
<div>
@RenderBody()
<hr />
<footer>
<h6>Developed by Steve Sparks.</h6>
</footer>
</div>

    <button class="btn-toggle">Toggle Dark Mode</button>
    <script id="rendered-js">
        const btn = document.querySelector(".btn-toggle");
        const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: light)");

        btn.addEventListener("click", function () {
            if (prefersDarkScheme.matches) {
                document.body.classList.toggle("light-theme");
            } else {
                document.body.classList.toggle("dark-theme");
            }
        });
                //# sourceURL=pen.js
    </script>

</body>
</html>