<!DOCTYPE html>
<html>
<head>
    <link href="~/css/terminal.css" rel="stylesheet" />
    <title>Play BlackJack</title>
</head>
<body>
<div>
@RenderBody()
<hr />
<footer>
<h6>Developed by Steve Sparks.</h6>
</footer>
</div>


</body>
</html>